                                            /**
*
* Index.html
*
*/
                                            
                                            html {
                                                position: relative;
                                                min-height: 100%;
                                            }
                                            
                                            body {
                                                margin: 0 0 100px;
                                                padding: 25px;
                                            }
                                            
                                            header {
                                                margin-top: 10px;
                                                margin-bottom: 10px;
                                                width: 100%;
                                                height: 50px;
                                                display: inline-block;
                                                border-style: solid;
                                                border-color: red;
                                                border-width: 10px;
                                                padding-bottom: 20px;
                                            }
                                            
                                            h1 span {
                                                display: inline-block;
                                                float: right;
                                                border-style: solid;
                                                border-width: 2px;
                                                border-color: red;
                                                margin-right: 25px;
                                            }
                                            
                                            h1 span a {
                                                font-size: 20px;
                                            }
                                            
                                            main {
                                                margin-top: 20px;
                                                display: inline-block;
                                                border-style: solid;
                                                border-width: 2px;
                                                border-color: red;
                                            }
                                            
                                            main .wrapper {
                                                float: left;
                                                width: 70%;
                                                border-style: solid;
                                                border-color: green;
                                                border-width: 2px;
                                            }
                                            
                                            main .wrapper p {
                                                width: 100%;
                                                border-style: solid;
                                                border-color: black;
                                                border-width: 2px;
                                                font-size: 25px;
                                            }
                                            
                                            main .wrapper form {
                                                width: 100px;
                                            }
                                            
                                            main .wrapper form label {
                                                margin-left: 0px;
                                                font-size: 25px;
                                                margin-top: 2em;
                                                line-height: 20px;
                                            }
                                            
                                            main .wrapper form input {
                                                right: 600px;
                                                position: absolute;
                                                width: 30%;
                                                padding-bottom: 20px;
                                            }
                                            
                                            main .wrapper form select {
                                                right: 600px;
                                                position: absolute;
                                                width: 31%;
                                            }
                                            
                                            main .wrapper form button {
                                                width: 250px;
                                                margin-top: 40%;
                                                margin-bottom: 30%;
                                                margin-left: 35%;
                                            }
                                            
                                            main aside p {
                                                padding-left: 5px;
                                                padding-right: 5px;
                                                font-size: 25px;
                                            }
                                            /**
** Q2
**/
                                            
                                            .container {
                                                width: 100%;
                                                border-style: solid;
                                                border-width: 20px;
                                                border-color: white;
                                            }
                                            /*
* Q3
*/
                                            
                                            .container #lin {
                                                background-image: linear-gradient(#ADD8E6, #00008B);
                                            }
                                            /*
* Q4
*/
                                            
                                            .container p::first-letter {
                                                background-color: gray;
                                                font-size: 24px;
                                            }
                                            /*
* Q5
*/
                                            
                                            .container-exo-five {
                                                width: 200px;
                                                height: 200px;
                                                border-style: solid;
                                                border-width: 50px;
                                                border-color: green;
                                            }
                                            
                                            .container-exo-five #f001 {
                                                background-color: red;
                                            }
                                            
                                            .container-exo-five #f002 {
                                                background-color: blue;
                                            }
                                            /*
* Q6
*/
                                            
                                            .uncomon-font {
                                                font-family: Satisfy;
                                            }
                                            /*
* Q7
*/
                                            
                                            .container-exo-7 .mybutton {
                                                border-width: 3px;
                                                border-style: solid;
                                                border-color: yellow;
                                                border-radius: 10px;
                                            }
                                            /**
* Q8
*/
                                            
                                            .container-exo-8 p {
                                                text-shadow: 2px 2px #ff0000;
                                            }
                                            /**
* Q9
*/
                                            
                                            .container-exo-9 {
                                                display: table;
                                                width: 100%;
                                            }
                                            
                                            .container-exo-9 #block1 {
                                                display: table-cell;
                                                border-style: solid;
                                                border-color: red;
                                                background-color: orange;
                                            }
                                            
                                            .container-exo-9 #block2 {
                                                display: table-cell;
                                                border-style: solid;
                                                border-width: 10px;
                                                border-color: yellow;
                                                background-color: white;
                                                padding: 8px;
                                            }
                                            
                                            .container-exo-9 #block3 {
                                                display: table-cell;
                                                border-style: solid;
                                                border-color: red;
                                                background-color: black;
                                                padding: 32px;
                                            }
                                            /**
* Q10
*/
                                            
                                            .container-exo-10 {
                                                width: 500px;
                                                display: table;
                                            }
                                            
                                            .container-exo-10 p {
                                                display: table-cell;
                                            }
                                            /**
* Q11
*/
                                            
                                            .container-exo-11 {
                                                position: relative;
                                                top: 0;
                                                left: 0;
                                                width: 50%;
                                                background-color: red;
                                            }
                                            
                                            .container-exo-11 .under {
                                                position: relative;
                                                top: 0;
                                                left: 0;
                                            }
                                            
                                            .container-exo-11 .over {
                                                position: absolute;
                                                top: 80;
                                                left: 0;
                                            }
                                            /**
* Q12
*/
                                            
                                            .container-exo-12 ul li::before {
                                                content: "Element ";
                                            }
                                            
                                            .container-exo-12 ul li::after {
                                                content: " end of sentence ";
                                            }
                                            /**
* Q13
*/
                                            
                                            .container-exo-13 {
                                                float: left;
                                                width: 100%;
                                                height: 800px;
                                            }
                                            
                                            #square {
                                                position: relative;
                                                width: 100px;
                                                height: 100px;
                                                background-color: red;
                                                top: 0px;
                                                left: 0px;
                                            }
                                            
                                            #square {
                                                animation: change-background 5s 5;
                                            }
                                            /* Keyframes */
                                            
                                            @keyframes change-background {
                                                0% {
                                                    top: 0px;
                                                    left: 0px;
                                                }
                                                25% {
                                                    background-color: green;
                                                    top: 300px;
                                                    left: 0px;
                                                }
                                                50% {
                                                    background: blue;
                                                    top: 300px;
                                                    left: 300px;
                                                }
                                                75% {
                                                    top: 0px;
                                                    left: 300px;
                                                    background-color: yellow;
                                                }
                                                100% {
                                                    top: 0px;
                                                    left: 0px;
                                                    background-color: red;
                                                }
                                            }
                                            
                                            main .wrapper-one {
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: black;
                                                width: 100%;
                                                display: table;
                                            }
                                            
                                            .article-one {
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: blue;
                                                display: table-cell;
                                                width: 50%;
                                            }
                                            
                                            .article-two {
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: yellow;
                                                display: table-cell;
                                                width: 50%;
                                            }
                                            
                                            main .wrapper-two {
                                                margin-top: 25px;
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: green;
                                                display: table;
                                            }
                                            
                                            .article-three {
                                                border-style: solid;
                                                border-width: 4px;
                                                display: table-cell;
                                                width: 33%;
                                            }
                                            
                                            .article-four {
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: magenta;
                                                display: table-cell;
                                                width: 33%;
                                            }
                                            
                                            .article-five {
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: darksalmon;
                                                /*float: right;*/
                                                display: table-cell;
                                                width: 33%;
                                            }
                                            
                                            table {
                                                border-style: solid;
                                                border-width: 2px;
                                                width: 100%;
                                                height: 100%;
                                                border-collapse: collapse;
                                            }
                                            
                                            table thead tr th {
                                                border-style: solid;
                                                border-width: 2px;
                                                height: 50px;
                                            }
                                            
                                            table tbody tr td {
                                                border-style: solid;
                                                border-width: 2px;
                                                height: 30px;
                                            }
                                            
                                            .titre {
                                                text-align: center;
                                            }
                                            /**
*
* FOOTER
*
*/
                                            
                                            footer {
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                width: 100%;
                                                height: 100px;
                                                overflow: hidden;
                                                margin-bottom: 0%;
                                                border-style: solid;
                                                border-width: 4px;
                                                border-color: black;
                                            }
                                            
                                            footer aside ul {
                                                padding-left: 40%;
                                            }
                                            
                                            footer aside ul li {
                                                display: inline-block;
                                                padding: 30px;
                                                margin: auto;
                                                /*margin-left: 50%;*/
                                            }